@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  color: #eee;
  font-size: 16px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(9, 17, 22);
}

.sceleton {
  width: 100%;
  padding-top: 100%;
  background-color: #2f4553;
  border-radius: 50%;
}

.sceleton ~ div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  font-size: 3rem;
}